# Playwright Specific
node_modules/
test-results/
playwright-report
*.json

# Generated catalogue
TestCatalogue.md

# IDE - VSCode
.vscode/*

# System Files
.DS_Store
Thumbs.db

# Docs files
*_spec3.json
README.md

.github/
performance/
data/
eslint.config.mjs
