name: K6 AAP Smoke Test

on:
  schedule:
    - cron: "0 19 * * 1,3,5"
  workflow_dispatch:

jobs:
  performance_smoke_test:
    name: Run k6 with Dashboard
    runs-on: [ self-hosted, hmpps-github-actions-runner ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.26"

      - name: Build xk6 dashboard-enabled k6
        run: |
          go install go.k6.io/xk6/cmd/xk6@latest
          xk6 build --with github.com/grafana/xk6-dashboard@latest

      - name: Run k6 AAP smoke performance test
        env:
          AAP_CLIENT_ID: ${{ secrets.AAP_CLIENT_ID }}
          AAP_CLIENT_SECRET: ${{ secrets.AAP_CLIENT_SECRET }}
          TOKEN_URL: ${{ secrets.TOKEN_URL }}

          VUS: "5"
          DURATION: "30s"

          MIN_THINK_TIME: "1"
          MAX_THINK_TIME: "5"

        run: ./k6 run performance/tests/aapApi.js --out web-dashboard=export=aap-smoke-report.html

      - name: Upload Smoke Report
        uses: actions/upload-artifact@v6
        with:
          name: k6-smoke-report
          path: aap-smoke-report.html
          retention-days: 1

      - name: Slack notification
        if: failure()
        uses: slackapi/slack-github-action@v2.1.1
        env:
          SLACK_CHANNEL: ${{ inputs.channel_id }}
          REPO_NAME: ${{ github.repository }}
          SLACK_BOT_TOKEN: ${{ secrets.HMPPS_SLACK_BOT_TOKEN }}
        with:
          method: chat.postMessage
          token: ${{ secrets.HMPPS_SLACK_BOT_TOKEN }}
          payload: |
            {
              "channel": "${{ env.SLACK_CHANNEL }}",
              "attachments": [
               {
                 "color": "#FF0000",
                 "text": ":x: *AAP API Smoke Performance test notification*\nWorkflow failed for ${{ env.REPO_NAME }}"
                }
              ]
            }