name: Playwright Tests
on:
  workflow_call:
    inputs:
      channel_id:
        description: 'The slack channel ID to send a message on failure. If this is not provided then no message is sent.'
        required: false
        default: 'NO_SLACK'
        type: string

jobs:
  test:
    timeout-minutes: 60
    runs-on:
      labels: moj-cloud-platform
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm ci
      - name: Install Playwright
        run: npx playwright install
      - name: Run Playwright tests
        id: playwright-tests
        run: npm run test:ci
        env:
          ORACLE_DB_USER: ${{ secrets.ORACLE_DB_USER }}
          ORACLE_DB_PASSWORD: ${{ secrets.ORACLE_DB_PASSWORD }}
          ORACLE_DB_CONNECT_STRING: ${{ secrets.ORACLE_DB_CONNECT_STRING }}
          SP_CLIENT_ID: ${{ secrets.SP_CLIENT_ID }}
          SP_CLIENT_SECRET: ${{ secrets.SP_CLIENT_SECRET }}
          AAP_CLIENT_ID: ${{ secrets.AAP_CLIENT_ID }}
          AAP_CLIENT_SECRET: ${{ secrets.AAP_CLIENT_SECRET }}
          # URLs
          DELIUS_URL: https://ndelius.test.probation.service.justice.gov.uk
          TOKEN_URL: ${{ secrets.TOKEN_URL }}
          # Credentials
          DELIUS_USERNAME: ${{ secrets.E2E_DELIUS_USERNAME }}
          DELIUS_PASSWORD: ${{ secrets.E2E_DELIUS_PASSWORD }}
      
      - name: Slack notification
        if: failure()
        uses: slackapi/slack-github-action@v2.1.1
        env:
          SLACK_CHANNEL: ${{ inputs.channel_id }}
          REPO_NAME: ${{ github.repository }}
          SLACK_BOT_TOKEN: ${{ secrets.HMPPS_SLACK_BOT_TOKEN }}
        with:
          method: chat.postMessage
          token: ${{ secrets.HMPPS_SLACK_BOT_TOKEN }}
          payload: |
            {
              "channel": "${{ env.SLACK_CHANNEL }}",
              "attachments": [
               {
                 "color": "#FF0000",
                 "text": ":x: *Playwright Integration tests notification*\nWorkflow failed for ${{ env.REPO_NAME }}"
                }
              ]
            }